doctype html
html
  head
    meta(charset="utf-8")
    title Capmeter
    link(rel="stylesheet", href="/stylesheets/app.css")
  body
    .row
      .column.small-4
        h4 Capacitance Meter
        a#calibrateCurrentX.button.expand(data-onclick="capmeter.calibration.calibrateCurrentX") Calibrate Current (X)
        a#calibrateCurrentY.button.expand(data-onclick="capmeter.calibration.calibrateCurrentY") Calibrate Current (Y)
        a#calibrateCapacitance.button.expand(data-onclick="capmeter.calibration.calibrateCapacitance") Calibrate Capacitance
        a#calibratePlatform.button.expand(data-onclick="capmeter.calibration.calibratePlatform") Calibrate Platform
      .column.small-8
        .row
          .column.small-12 &nbsp;
        .row
          .column.small-5
            .row.collapse
              .column.small-8
                span.prefix Voltage [V]
              .column.small-4
                input#voltageCurrent(data-input="capmeter.measurement.voltageCurrent", type="text")
          .column.small-4
            a#measureCurrent.button.tiny.expand(data-onclick="capmeter.measurement.measureCurrent") Measure Current
          .column.small-3
            #displayCurrent.value(data-display="capmeter.measurement.get_current")
        .row
          .column.small-5
            .row.collapse
              .column.small-8
                span.prefix Voltage [V]
              .column.small-4
                input#voltageCapacitance(data-input="capmeter.measurement.voltageCapacitance", type="text")
          .column.small-4
            a#measureCapacitance.button.tiny.expand(data-onclick="capmeter.measurement.measureCapacitance") Measure Capacitance
          .column.small-3
            #displayCapacitance.value(data-display="capmeter.measurement.get_capacitance")

        .row
          .column.small-12.graph-container.text-center 
            h3 Place for graph

        .row
          .column.small-6
            .row.collapse
              .column.small-8
                span.prefix Max. Voltage [V]
              .column.small-4
                input#maxVoltage(data-input="capmeter.visualisation.maxVoltage", type="text")
          .column.small-3
            a#capacitance.button.tiny.expand(data-onclick="capmeter.visualisation.capacitance") Capacitance
          .column.small-3
            a#current.button.tiny.expand(data-onclick="capmeter.visualisation.current") Current

    .row.collapse
      .column.small-12
        textarea#log(wrap="off")


    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/js/capmeter/helper.js")
    script(src="/js/capmeter/measurement.js")
    script(src="/js/capmeter/visualisation.js")
    script(src="/js/capmeter/calibration.js")
    script(src="/js/app.js")


