doctype html
html
  head
    meta(charset="utf-8")
    title Capmeter
    link(rel="stylesheet", href="/stylesheets/app.css")
  body
    div#wrapper
      .row
        .column.small-3.large-2.xxlarge-1(data-height-equalizer="#content")
          h5.text-center Capacitance Meter        
          div
            a#calibrateCurrentX.button.small.height-37.margin-bottom.expand(data-onclick="capmeter.calibration.calibrateCurrentX") Jump to Bootloader
            a#calibrateCapacitance.button.small.height-37.margin-bottom.expand(data-onclick="capmeter.calibration.calibrateCapacitance") Zero Capacitance
            a#calibratePlatform.button.small.height-37.margin-bottom.expand(data-onclick="capmeter.calibration.calibratePlatform") Calibrate Platform
            a#calibrateCurrentY.button.small.height-37.margin-bottom.expand(data-onclick="capmeter.calibration.calibrateCurrentY") Calibrate Current  

            .row.collapse
              .column.small-9.end
                input#resistance(data-input="capmeter.measurement.resistance", type="text")      
              .column.small-3
                span.postfix MΩ

            a#exportGraph.button.small.height-37.margin-bottom.expand(data-onclick="capmeter.graph.exportGraph") Export Curve            

        #content.column.small-9.large-10.xxlarge-11
          .row
            .column.small-12 &nbsp;

          .row.bottom-margin-columns.max-width-40rem.center-by-margins
            .column.small-4
              .row.collapse
                .column.small-6
                  span.prefix Voltage [V]
                .column.small-5.end
                  input#voltageCurrent(data-input="capmeter.measurement.voltageCurrent", type="text")
            .column.small-3
              a#measureCurrent.button.small.expand.height-37(data-onclick="capmeter.measurement.measureCurrent") Measure Current
            .column.small-3
              #displayCurrent.value.height-37(data-display="capmeter.measurement.get_current")
            .column.small-2
              a#nullCurrent.button.small.expand.height-37(data-onclick="capmeter.measurement.nullCurrent") NULL
          
          .row.bottom-margin-columns.max-width-40rem.center-by-margins
            .column.small-4
              .row.collapse
                .column.small-6
                  span.prefix Voltage [V]
                .column.small-5.end
                  input#voltageCapacitance(data-input="capmeter.measurement.voltageCapacitance", type="text")
            .column.small-3
              a#measureCapacitance.button.small.expand.height-37(data-onclick="capmeter.measurement.measureCapacitance") Measure Capacitance
            .column.small-3
              #displayCapacitance.value.height-37(data-display="capmeter.measurement.get_capacitance")
            .column.small-2
              a#nullCapacitance.button.small.expand.height-37(data-onclick="capmeter.measurement.nullCapacitance") NULL

          .row
            .column.small-12.graph-container.text-center 
              h3 Place for graph

          .row.max-width-40rem.center-by-margins
            .column.small-4
              .row.collapse
                .column.small-8
                  span.prefix Max. Voltage [V]
                .column.small-4
                  input#maxVoltage(data-input="capmeter.visualisation.maxVoltage", type="text")
            .column.small-3
              .row.collapse
                .column.small-8
                  span.prefix Data Points
                .column.small-4
                  input#data-points(data-input="capmeter.visualisation.dataPoints", type="text")                  
            .column.small-5
              .row
                .column.small-6
                  a#capacitance.button.small.expand.height-37(data-onclick="capmeter.visualisation.capacitance") Capacitance
                .column.small-6
                  a#current.button.small.expand.height-37(data-onclick="capmeter.visualisation.current") Current

      .row.collapse
        .column.small-12
          textarea#log(wrap="off", disabled)


    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/highcharts/highcharts.js")
    script(src="/js/capmeter/settings.js")
    script(src="/js/capmeter/helper.js")

    script(src="/js/capmeter/measurement.js")
    script(src="/js/capmeter/visualisation.js")
    script(src="/js/capmeter/calibration.js")
    script(src="/js/capmeter/interface.js")
    script(src="/js/capmeter/graph.js")

    script(src="/js/capmeter/filehandler.js")
    script(src="/js/capmeter/currentcalib.js")
    script(src="/js/capmeter/prefstorage.js")
    script(src="/js/capmeter/graphing.js")
    script(src="/js/capmeter/util.js")
    
    script(src="/js/init.js")
    script(src="/js/app.js")


