body {
  background: $dark-color;
}

div.value {
  background: $regular-color;
}

.graph-container {
  width: 100%;
  height: 200px;
  margin-bottom: 2rem;
  padding: 0 !important;
}

#log {
  height: 13rem;
  font-family: courier;
  font-size: 0.8rem;
  color: #FFF;
  padding: 0.3rem;
  margin: 0px 0px 16px;
  background: #000; 
  border: none;   
}

.height-37 {
  &.button {
    height: 37px;
    margin-bottom: 0;
    padding-top: 0.75rem;  
  }

  &.value {
    height: 37px;
    padding: 0.35rem 0.75rem;  
  }
}