body {
  background: $dark-color;
  min-height: 600px;
}

div.value {
  background: $regular-color;
}

.graph-container {
  width: 100%;
  height: 200px;
  margin-bottom: 2rem;
  padding: 0 !important;
}

#log {
  height: 14.5rem;
  font-family: courier;
  font-size: 0.8rem;
  color: #FFF;
  padding: 0.3rem;
  margin: 0;
  background: #000; 
  border: none; 
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;    
}

.height-37 {
  &.button {
    height: 37px;
    margin-bottom: 0;
    padding-top: 0.75rem;  
  }

  &.value {
    height: 37px;
    padding: 0.35rem 0.75rem;  
  }
}

.align-bottom {
  bottom: 0;
  position: absolute;  
}

.bottom-margin-columns > .column {
  margin-bottom: 1.25rem;

  input {
    margin-bottom: 0 !important;
  }
}

.max-width-40rem {
  max-width: 40rem !important;
}

.center-by-margins {
  margin-left: auto !important;
  margin-right: auto !important;
}

h5 {
    margin-bottom: 2rem;
    margin-top: 1rem;
}